:root {

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

}
* {
  box-sizing: border-box;
}

h1,
p {
  margin: 0 auto;
}

body {
  max-width: 80%;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(255, 255, 138);
  margin: 0 auto;
}

nav {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
  border-bottom: 3px solid black;
}

nav > h1 {
  font-size: 1.3rem;
  margin-right: 0.5rem;
  margin-left: 0;
  
}

nav > button {
  width: 70%;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  background-color: rgb(63, 159, 223);
  border-radius: 20px;
  margin-left: auto;
  max-width: 400px;
 transition: 0.3s ease-in-out;
}

nav > button:hover {
  background-color: rgb(87, 74, 226);
  cursor: pointer;
}

button:disabled,
button[disabled],
button[disabled]:hover {
  cursor: auto;
  background-color: #cccccc;
  color: #666666;
}


.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2em;
}

.box-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
 
}

.box-text {
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
  margin: 0 auto 0.5em auto;
}


.box-image {
  margin: 0.5rem;
  border: solid 3px rgb(79, 75, 75);
  border-radius: 6px;
  max-width: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.box-image > img {
  max-width: 100%;
}

.load-animation {
  animation: grow 4s linear infinite;
}

@keyframes grow {
  0% {
    transform: scale(0.75);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(0.75);
  }
}

.arasaac {
  font-size: 1.2rem;
  margin-top: 1.5rem;
  text-align: center;
  margin: 0 auto;
  color: rgb(79, 75, 75);
}

.arasaac  a {
  color:rgb(63, 159, 223);
  text-decoration: none;
}
.arasaac  a:hover {
  color:rgb(87, 74, 226);
}

footer {
  font-size: 0.8rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
  color: rgb(79, 75, 75);
}
/*DESKTOP*/

@media (min-width: 980px) {
  
  nav > h1 {
    font-size: 2rem;
  }

  nav > button {
    width: 80%;
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  .main-content {
    display: flex;
    flex-direction: row;

  }
  .box-content {
    margin: 1.5rem;
    max-width: 450px;
  }
  .box-image {
    max-width: 100%;
  }
  
  }

 